.delete {
    width: 100%;
    background: white;
    border-radius: 0 0 6px 6px;
    padding-bottom: 6px;
    font-size: 1.2em;
}

.delete_title {
    display: flex;
    background: gainsboro;
    padding: 8px 12px;
    border-radius: 6px 6px 0 0;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 1.3em;
    font-weight: bold;
}

.delete_item {
    padding: 20px 10px;
}

.delete_form {
    padding: 6px 6px 0;
}

.btn_del {
    background-color: rgb(251, 176, 176);
}

.btn_cancel {
    background-color: #FAFBFC;
    margin-left: 6px;
}