* {
    margin: 0;
    padding: 0;
    font-family: STSong;
}

body {
    background: antiquewhite;
}

.wrapper {
    margin: 0 auto;
    width: 1050px;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0;
    padding: 0 12px;
}

.logo {
    color: red;
    text-decoration: none;
    border-bottom: 3px solid red;
    line-height: .9;
}

.login {
    color: black;
    font-size: 1.5em;
}

.username {
    font-weight: 600;
    font-size: 1.5em;
}

.button {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    text-decoration: none;
    width: 100px;
    justify-content: center;
}

.buttn_block {
    border-top: 1px solid lightgray;
    padding-top: 6px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1050px) {
    main {
        flex-direction: column;
    }

    .wrapper {
        width: auto;
        padding: 0 20px 20px 20px;
    }
}